.bg { 
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.typeTitle {
    position: absolute;
    right: 0;
    bottom: 9px;
    color: #fff;
    font-size: .3rem;
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}