#account-box {
    width: 100%;
    position: relative;

    .account-login-btn {
        position: absolute;
        width: 90%;
        left: 50%;
        margin-top: 20px;
        margin-left: -45%;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 3px;

        :active {
            background: #ddd;
        }
    }
}